*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}
.articuloDestacados{ 
    border-style: dotted; }

.articulos{
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-content: center;


}

img{
    width:30%;
}

.articulo{
    text-align:center;
    border-style: dotted;
    flex-grow: 1;
    width: 30%;
    height:30%;
}

