nav{
    background-color: #364170;
}

nav .menu{
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
}

.menu div {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #738AF0;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav .menu div:hover {
    background-color: #BDC7F2;
}

.menu a:link,
a:hover,
a:active,
a:visited {
    color: #ffffff;
    text-decoration: none;
}