
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Ejemplo de Layout</title>

  <link href="../templates/gridTemplate.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <div class="container">
    <header>TÍTULO DE LA PÁGINA WEB</header>
    <div class="title"></div>
    <nav class="rightnav"></nav>
    <main></main>
    <nav class="leftnav"></nav>
    <footer></footer>
  </div>

  
  <div id="mobile">MOBILE</div>
</body>

</html>